// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin-left: 20px;
}

input {
    width: 600px;
}
.store {
    margin-top: 10px;
    width: 600px;
    border-bottom: 1px solid gray;
}

.store address, .store button {
    display: inline-block;
}

.store button {
    position: absolute;
    margin: 5px 0 0 20px;
}